fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
bcrypt==3.1.7 
passlib
python-multipart
python-dotenv
alembic
pydantic[email]
requests
PyPDF2
pandas
langchain
langchain_huggingface
langchain_groq
chromadb

#python-magic-bin
